
.header {
    margin-top: 100px;
    font-family: 'Cinzel Decorative', cursive;
}
.quote {
    font-family: 'Stylish', sans-serif;
    font-size: 30px;
}
.owner {
    font-family: 'Gugi', cursive;
}